@font-face {
    font-family: 'regular';
    src: url('/font/OpenSans-Regular.ttf'); 
}
@font-face {
    font-family: 'light';
    src: url('/font/OpenSans-Light.ttf'); 
}
@font-face {
    font-family: 'semi';
    src: url('/font/OpenSans-SemiBold.ttf'); 
}
#preload-wr {position: fixed;top: 0;left: 0;width: 100%;height: 100%; z-index: 9999;overflow: hidden;background: #fff}
body {overflow-x: hidden;margin-bottom: 100px;}
.container {padding-left: 10px;padding-right: 10px}
$black: #272727;
$t: #fff;
$red: #e51c11;
p{
    font-family: 'regular';
    font-size: 13px;
}
.pre-title {
    /*font-size: 13px;*/
    font-family: "regular";
    color: rgb(68, 67, 67);
    line-height: 1.625;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
body {
    h3 {
        margin-top: 70px;
        font-family: 'regular';
        font-weight: bold;
        font-size: 30px;
    }
    h5 {font-size: 18px}
}
.one-slide 
{
    background: url('/img/ff.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.two-slide 
{
    background: url('/img/ff.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.three-slide 
{
    background: url('/img/ff.png');
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    height: 108px;
    .graf-phone {
        border: 1px solid $t;
        display: flex;
        flex-direction: column;
        height: 108px;
        justify-content: center;
        .graf {
            font-family: 'light';
            font-size: 14px;
        }
        a{
            color: $black;
            font-size: 20px;
        }
    }
    .log-des {
        height: 108px;
        border: 1px solid $t;
        text-align: center;
        img {padding-top: 25px}
        p{font-family: 'semi'}
    }
    .location-order {
        .location {
            i {
                margin-top: 38px;
                display: flex;
                align-items: center;
                .loca {
                    font-family: 'semi';
                    font-size: 14px;
                    border-bottom: 1px dashed $black;
                    padding-bottom: 4px;
                }
            }
        }
        .order-btn {
            a {
                margin-top: 25px;
            }
        }
    }
    
}
body .new_os .new_f-form-submit, body .new_f-dropdown-bottom-btn 
{
    background: #e51c11 !important;
    transition: 0.3s linear !important;
    font-family: 'light' !important;
    letter-spacing: 1px !important;
    &:hover {
        background: #be170f !important;
    }
}
#nav-mobile {
    display: flex;
    justify-content: space-between;
}

.slider-with-module {
    position: relative;
    .new_f-container {background: #fff;}
    .new_f-title {color: $black}
    .carousel.carousel-slider .carousel-item h2 {font-size: 40px;margin-top: 55px;}
    .modul-mainer {
        position: absolute;
        top: 290px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .indicators {
        position: absolute;
       /* top: 213px;*/
    }
}


.hot-proposites {
    h3 {
        color:$red;
    }

    .hottest {
        margin-top: 60px;
        .card {
            margin: 0 auto;
            max-width: 370px;
            margin-bottom: 40px;
            .card-image {
                position: relative;
                max-width: 370px;
                height: 273px;
                border-bottom: 2px solid $red;
                background: url('/img/ch.png') no-repeat;
                background-position: center;
                background-size: cover;
                .card-wrap {
                    //background: rgba(27, 14, 14, 0.651);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 120px;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.74), transparent)
                }
            }
            &:hover {
                box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
            }
        }
        .stronger-title-card {
            text-align: left;
            font-family: 'semi';
            margin-bottom: 5px;
        }
        .short-descrip {
            text-align: left;
            /* font-size: 13px;*/
        }
        .price {
            font-weight: 400; 
            span {
                font-weight: 100;
                font-size: 14px;
            }
        }
        .hot-labla {
            width: 60px;
            height: auto;
            position: absolute;
            right: 0;
            left: inherit;
            top: 0;
        }
    }
}




/*преимущества*/
.our-pluses {

   h3 {margin-bottom: 50px}
    .tali {
        max-width: 870px;
        margin: 0 auto;
        .col {
            .horizontal {box-shadow: none}
            .card-content {
                padding: 4px 10px 17px;
                h5 {
                    text-align: left;
                }
                p{text-align: left; max-width: 270px;/*font-size: 13px*/}
            }
        }
    }
}



/*with form*/
.with-form {
    background: url('/img/bac.png') no-repeat;
    background-position: center;
    height: 640px;
    background-size: cover;
} 



.recomendation {
    h3 {color: $black !important}
    .hottest .card .card-image {
        border-color: #1c1c8f !important;
    }
    .card-image .card-title {
        flex-direction: column;
        align-items: flex-start;
    }
}


.with-sea {
    height: 396px;
    background: url('/img/sea.png') no-repeat;
    background-position: center;
    background-size: cover;
    .sea-card {
        display: flex;
        justify-content: center;
        .card {
            margin-top: 40px;
            width: 430px;
            background: transparent;
            .card-image {
                width: 100%;
                height: 225px;
                background: rgba(42, 54, 147, 0.795);
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                padding:  0 15px;
                h3 {margin: 10px 0;}
                p{font-family: 'light'}
            }
            .card-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #fff;
                p {
                    span {font-weight: 600;font-size: 24px;}
                }
            }
        }
    }
}


.find-tour-text-block {
    margin-bottom: 110px !important;
   
    h4 {
        font-family: 'regular';
        font-weight: bold;
        font-size: 25px;
        margin: 50px 0 30px 0;
    }
    p{margin-bottom: 20px;font-family: 'semi'}
 
}


.blue-line-with-chinese {
    height: 159px;
    background: #2a3693;
    color: #fff;
    display: flex;
    align-items: center;
    .container {position: relative;
        .girl {
            position: absolute;
            left: 0;
            bottom: -47px;
            width: 272px;
        }
        .btn-large {
            position: absolute;
            right: 10px;
            top: 4px;
        }
       h3{margin: 0 0 10px 0}
        p{color:#fff;font-size: 14px;}
    }
  
}


@media (max-width: 1160px) {
    .girl {display: none;}
    .blue-line-with-chinese .container .btn-large {position: inherit;margin-top: 10px;}
}